* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader span {
  position: absolute;
  border: 3px solid #3cba34;
  width: 100%;
  height: 100%;

  animation: animate 5s linear infinite;
}

/*
  border-radius
  https://9elements.github.io/fancy-border-radius/
*/

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span:nth-child(1) {
  border-radius: 30% 70% 60% 40% / 72% 54% 46% 28% ;
}

.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 30% 70% 60% 40% / 72% 54% 46% 28% ;
}

.loader span:nth-child(3) {
  animation-delay: 3s;
  border-radius: 30% 70% 60% 40% / 72% 54% 46% 28% ;
}

.loader h2 {
  color: white;
  font-size: 2.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}
